<html>
  <head>
    <script src="static/script.js"></script>
    <script src="static/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="static/bootstrap.css">
    {% if title %}
    <title>{{ title }} - GRAph</title>
    {% else %}
    <title>GRAph</title>
    {% endif %}
<h1>GRAPH: <a href="/index">Home</a></h1>
  </head>
  <body>
    <hr>
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
        {% for message in messages %}
            <li>{{ message }} </li>
        {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% block content %}{% endblock %}
  </body>
</html>
